<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.thefella.alfredapp.lockscreen</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2FBBFE2A-CE36-448D-A531-B6F083186A24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93284B35-AB4E-4BE8-A8D8-ED1A0135E6FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41F253EF-0B7C-4C74-9EF4-E1FB95D5058D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FCA8827-5F09-40EA-BCEE-55891DC4CD72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6F53EB4-B7CB-433B-9557-2CB5252CE063</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41F253EF-0B7C-4C74-9EF4-E1FB95D5058D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2FBBFE2A-CE36-448D-A531-B6F083186A24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB8660B5-9FAB-4FFF-8AD7-3BF6A13677E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F89B09D7-71F9-4D3B-A271-6A07E2531F08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7001B89-93FE-4EF9-AC54-8659D185B1A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB8660B5-9FAB-4FFF-8AD7-3BF6A13677E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F89B09D7-71F9-4D3B-A271-6A07E2531F08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6F53EB4-B7CB-433B-9557-2CB5252CE063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Conor MacNeill</string>
	<key>description</key>
	<string>Lock your Mac screen</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lock Screen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>q</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1572864</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>2FCA8827-5F09-40EA-BCEE-55891DC4CD72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>41F253EF-0B7C-4C74-9EF4-E1FB95D5058D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>lock</string>
				<key>subtext</key>
				<string>Lock your Mac's screen</string>
				<key>text</key>
				<string>Lock screen</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7001B89-93FE-4EF9-AC54-8659D185B1A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

//! Get query
$query = $argv[1];

//! Check if numeric and less than 60 (seconds)
if ( (is_numeric($query)) &amp;&amp; ($query &lt;= 60) ) 
{
	$query = $query;
} 
//! If not, set to 1
else 
{
	$query = 5;
}

//! Return result
echo $query;

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B6F53EB4-B7CB-433B-9557-2CB5252CE063</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string></string>
				<key>replacestring</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>F89B09D7-71F9-4D3B-A271-6A07E2531F08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BB8660B5-9FAB-4FFF-8AD7-3BF6A13677E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$query = $argv[1];

if ($query &gt; 3) {
	echo "Your Mac will lock in " . $query . " seconds!";
}
else 
{
	exit;
}

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FBBFE2A-CE36-448D-A531-B6F083186A24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Security Alert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93284B35-AB4E-4BE8-A8D8-ED1A0135E6FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type "lock" to immediatly lock your computer. 

Type "lock x" to lock your computer after x seconds, i.e. to lock after 10 seconds, type "lock 10".

The maximum delay is 60 seconds.</string>
	<key>uidata</key>
	<dict>
		<key>2FBBFE2A-CE36-448D-A531-B6F083186A24</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>If locking is set for longer than 3 seconds, you'll get a notification telling you this.</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>2FCA8827-5F09-40EA-BCEE-55891DC4CD72</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Uses standard OSX key combination to lock the screen.</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>41F253EF-0B7C-4C74-9EF4-E1FB95D5058D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delays the locking by x seconds.</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>93284B35-AB4E-4BE8-A8D8-ED1A0135E6FA</key>
		<dict>
			<key>note</key>
			<string>Notification telling you how long until your Mac locks.</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>B6F53EB4-B7CB-433B-9557-2CB5252CE063</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Checks if query is numberic and less than 60 seconds. If not, it will return 5 seconds.</string>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>BB8660B5-9FAB-4FFF-8AD7-3BF6A13677E8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Trim whitespace.</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>D7001B89-93FE-4EF9-AC54-8659D185B1A4</key>
		<dict>
			<key>note</key>
			<string>Type "lock" to immediately lock your Mac, or type "lock [number]" to lock your Mac after x seconds (max 60).</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>F89B09D7-71F9-4D3B-A271-6A07E2531F08</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Changes empty input to 0 seconds</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://thefella.com</string>
</dict>
</plist>
